<nav class="navbar navbar-expand-lg navbar-bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/Ample-Logic-Logo.svg" alt="Ample-Logic-Logo" width="190" height="30" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex pr-10">
          <button type="button" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-check"></i></button>
          <a class="nav-link dropdown-toggle f-12" aria-current="page" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Organaization Structure</a>
        </li>
        <li class="nav-item d-flex pr-10">
          <button type="button" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-vector-square"></i>
          </button>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Configarations</a>
        </li>
        <li class="nav-item dropdown d-flex pr-10">
          <button type="button" class="btn btn-primary btn-sm">
            <i class="fa-regular fa-copy"></i>
          </button>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
        </li>
        <li class="nav-item dropdown d-flex">
          <button type="button" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-gears"></i>
          </button>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ETL
          </a>
        </li>
      </ul>
      <div class="d-flex" role="search">
        <img src="../assets/flag.png" alt="flag" width="20" height="20" class="flag-img">
        <i class="fa-regular fa-bell notify-icon position-relative">
          <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
          </span>
        </i>
        <img src="../assets/profile-img.jpg" alt="profile-img" width="30" height="30" style="border-radius:50%">
        
      </div>
    </div>
  </div>
</nav>
<div class="start-btn">
  <button type="button" class="btn btn-primary btn-sm btn-style" [ngClass]="status ? 'show' : 'hide'" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" (click)="onClickButton()">Start</button>
</div>
  <div class="offCanvas" *ngIf="progressionBar; else template">

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom"     aria-labelledby="offcanvasBottomLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" ></button>
      </div>
      <div class="d-flex">
        <div class="icon">
          <i class="fa-brands fa-space-awesome rocket-icon"></i>
        </div>
        <div class="offcanvas-body small">
          <div class="d-flex" style="justify-content:space-between">
          <div>
            <span class="span-text">Migrating Data to selected environment</span>
          </div>
          <div><span class="span-text">{{percentage}}%</span></div>
          </div>
          <mat-progress-bar mode="determinate" [value]='percentage'></mat-progress-bar>
        </div>
      </div>
      
    </div>
  </div>
  <ng-template #template>
    <div class=""></div>
  </ng-template>

<footer class="footer-line">
  <div class="fixed-footer">
    <div>
      <img src="{{companyUrl}}" alt="Ample-Logic-Logo" height="30" width="100">
    </div>
    <div>
      <span class="span-text">copyright 2010-2013 Amplelogic | All Rights Reserved</span>
    </div>
    <div>
      <span class="span-text">v3.1.0</span>
    </div>
  </div>
</footer>
