.navbar-bg{
    border-bottom: 1px solid #e9dede;
}
.nav-item a{
    font-size: 14px;
    font-weight: 500;
}
.f-12{
   font-size:12px;
}

.pr-10{
    padding-right: 10px;
}
.start-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.btn-style{
    font-weight: bold;
    font-size: 14px;
    padding: 5px 30px;
}
.hide{
    display: none;
}

.notify-icon{
    font-size: 20px;
    margin-right: 25px;
    margin-top: 7px;
}
.flag-img{
    border-radius: 50%;
    margin-right: 25px;
    margin-top: 6px;
}

.fixed-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-line{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e9dede;
    padding: 5px;
}
.span-text{
    font-size: 14px;
    font-weight: 500;
}

.offCanvas{
    visibility: visible !important;
    right: 0;
}
.rocket-icon{
    color: white;
    font-size: 25px;
    padding-top: 10px;
}
.icon{
    background-color: #0d6efd;
    padding: 10px 20px;
}

.alert-msg{
    top: 0;
    right: 0;
    position: fixed;
}
.custom-snackbar .mdc-snackbar__surface .mat-mdc-snackbar-surface{
    background-color: #4de26d !important;
 }